<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--facebook 登陆-->
<a id="login">Login with Facebook</a>
<script>
    // fill in your client_id
    const client_id = '416481940036394';

    const authorize_uri = 'https://www.facebook.com/v12.0/dialog/oauth';
    const redirect_uri = 'http://localhost:8080/facebook/thirdLoginCallBack';
    const state = '{st=state123abc,ds=123456789}';

    const link = document.getElementById('login');
    link.href = `${authorize_uri}?client_id=${client_id}&redirect_uri=${redirect_uri}&state=${state}`;
</script>

</body>
</html>