<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<a id="login">Login with Google</a>
<script>
    // fill in your client_id
    const client_id = '918272533109-mq26hm62t2vb7ommrh9t5qtu24n1jusm.apps.googleusercontent.com';

    const authorize_uri = 'https://accounts.google.com/o/oauth2/auth';
    const redirect_uri = 'http://localhost:8080/google/thirdLoginCallBack';
    const response_type = 'code'
    const scope = 'profile';

    const link = document.getElementById('login');
    link.href = `${authorize_uri}?client_id=${client_id}&redirect_uri=${redirect_uri}&response_type=${response_type}&scope=${scope}`;
</script>
</body>
</html>